/*-- scss:defaults --*/
$dark0_hard: #1d2021;
$dark0: #282828;
$dark0_soft: #32302f;
$dark1: #3c3836;
$dark2: #504945;
$dark3: #665c54;
$dark4: #7c6f64;
$dark4_256: #7c6f64;

$light0_hard: #f9f5d7;
$light0: #fbf1c7;
$light0_soft: #f2e5bc;
$light1: #ebdbb2;
$light2: #d5c4a1;
$light3: #bdae93;
$light4: #a89984;
$light4_256: #a89984;
$gray_245: #928374;
$gray_244: #928374;

$bright_red: #fb4934;
$bright_green: #b8bb26;
$bright_yellow: #fabd2f;
$bright_blue: #83a598;
$bright_purple: #d3869b;
$bright_aqua: #8ec07c;
$bright_orange: #fe8019;

$neutral_red: #cc241d;
$neutral_green: #98971a;
$neutral_yellow: #d79921;
$neutral_blue: #458588;
$neutral_purple: #b16286;
$neutral_aqua: #689d6a;
$neutral_orange: #d65d0e;

$faded_red: #9d0006;
$faded_green: #79740e;
$faded_yellow: #b57614;
$faded_blue: #076678;
$faded_purple: #8f3f71;
$faded_aqua: #427b58;
$faded_orange: #af3a03;

// header
$navbar-bg: $neutral_blue;

// body
$body-bg: $dark0;
$body-color: $light0_hard;

// links
$link-color: $bright_aqua;

// code
$code-bg: $dark1;
$code-color: $bright_purple;

$code-block-bg: $dark1;

/*-- scss:rules --*/

pre code {
    background-color: $dark0;
    font-size: 1rem;
}

p.lang-tag {
    font-size: 0.9rem;
    color: $bright_purple;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

blockquote {
  border-left: .25rem solid $neutral_yellow;
  background-color: $dark1;
}

blockquote code {
  color: $light1;
}
